name: Node CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
          registry-url: "https://registry.npmjs.org"
      - name: set github credentials
        run: |
          git config user.email "jackleslie@protonmail.com"
          git config user.name "Jack Leslie"
      - name: install and build
        run: |
          yarn
          yarn build
      - name: lint
        run: |
          yarn lint
      - name: publish
        run: |
          yarn release
          git push --follow-tags origin master
          yarn publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        if: ${{ !startsWith(github.event.head_commit , '[skip ci]') }}
